<a href="https://colab.research.google.com/github/denise25maciel/analiseDadosPython/blob/main/vd1_dadosClimaticos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto 1: Avaliação de dados climáticos

O conjunto de dados utilizados trata-se de série temporal que coleta, por hora, dados sobre a condição climática de uma localização. São registrados dados como a temperatura, temperatura do momento de orvalho, humidade relativa, velocidade do vento, visibilidade, pressão e condições climáticas.

Nesse notebook serão abordadas as funções:

*   nunique() e unique()
*   value_counts()
*   filtering
*   groupby()
*   isnull() e notnull()
*   rename()
*   mean()
*   std() #desvio padrão
*   var() #variância
*   str.contains
*   operador e
*   operador ou
*   min()
*   max()

# Etapa1: Importando arquivo e bibliotecas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/vd1_dadosClimaticos.csv")

# Etapa2: Conhecendo os dados

Metadados sobre o arquivo

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [4]:
df.head()

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

In [5]:
df.shape
#(linhas, colunas)

(8784, 8)

In [6]:
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [7]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [8]:
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [9]:
df['Weather'].unique()
#retorna os valores da coluna 'Weather' apresentando os dados de forma única

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [10]:
df.nunique()
df['Visibility_km'].nunique()
#apresenta a soma de valores do conjunto de dados/ coluna, agrupando os mesmos através de valores únicos

24

In [11]:
df['Weather'].value_counts()
#apresenta a soma de valores de uma coluna que correspondem ao grupo de valor único

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Freezing Rain,Haze                            2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Ice Pellets,Fog                 1
Snow Pellets                                  1
Rain,Ice Pellets                              1
Freezing Rain,Snow Grains                     1
Thunderstorms,Rain,Fog                        1
Thunderstorms,Moderate Rain Showers,Fog       1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Rain,Snow Grains                              1
Rain Showers,Fog                              1
Thunderstorms,Heavy Rain Showers              1
Drizzle,Ice Pellets,Fog                       1
Name: Weather, dtype: int64

In [12]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [13]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [14]:
df.rename(columns = { 
    'Date/Time':'dataHora',
    'Temp_C':'temperatura', 
    'Dew Point Temp_C':'tempOrvalho',
    'Rel Hum_%':'humidadeRelativa' ,
    'Wind Speed_km/h':'velocidadeVento',
    'Visibility_km':'visibilidade',
    'Press_kPa':'pressao' ,
    'Weather':'clima' ,
     }, inplace=True)

In [15]:
df.columns

Index(['dataHora', 'temperatura', 'tempOrvalho', 'humidadeRelativa',
       'velocidadeVento', 'visibilidade', 'pressao', 'clima'],
      dtype='object')

# Etapa3: Respondendo questões sobre os dados

# Q1: encontre todos os valores únicos de "Velocidade do Vento (velocidadeVento)" nos dados

In [16]:
df.nunique()

dataHora            8784
temperatura          533
tempOrvalho          489
humidadeRelativa      83
velocidadeVento       34
visibilidade          24
pressao              518
clima                 50
dtype: int64

In [17]:
df['clima'].nunique()

50

In [18]:
df['clima'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [19]:
df['velocidadeVento'].value_counts()

9     830
11    791
13    735
15    719
7     677
17    666
19    616
6     609
20    496
4     474
22    439
24    374
0     309
26    242
28    205
30    161
32    139
33     85
35     53
37     45
39     24
41     22
44     14
43     13
48     13
46     11
52      7
57      5
50      4
2       2
63      1
54      1
70      1
83      1
Name: velocidadeVento, dtype: int64

# Q2: encontre os registros em que Weather(clima) é igual a Clear

In [20]:
df[df['clima']== 'Clear']

              dataHora  temperatura  tempOrvalho  ...  visibilidade  pressao  clima
67      1/3/2012 19:00        -16.9        -24.8  ...          25.0   101.74  Clear
114     1/5/2012 18:00         -7.1        -14.4  ...          25.0   100.71  Clear
115     1/5/2012 19:00         -9.2        -15.4  ...          25.0   100.80  Clear
116     1/5/2012 20:00         -9.8        -15.7  ...          25.0   100.83  Clear
117     1/5/2012 21:00         -9.0        -14.8  ...          25.0   100.83  Clear
...                ...          ...          ...  ...           ...      ...    ...
8646   12/26/2012 6:00        -13.4        -14.8  ...          25.0   102.47  Clear
8698  12/28/2012 10:00         -6.1         -8.6  ...          24.1   101.27  Clear
8713   12/29/2012 1:00        -11.9        -13.6  ...          25.0   101.31  Clear
8714   12/29/2012 2:00        -11.8        -13.1  ...          25.0   101.33  Clear
8756  12/30/2012 20:00        -13.8        -16.5  ...          25.0   101.52  Clear

[1326 rows x 8 columns]

In [21]:
#código equivalente com group by
df.groupby('clima').get_group('Clear')

              dataHora  temperatura  tempOrvalho  ...  visibilidade  pressao  clima
67      1/3/2012 19:00        -16.9        -24.8  ...          25.0   101.74  Clear
114     1/5/2012 18:00         -7.1        -14.4  ...          25.0   100.71  Clear
115     1/5/2012 19:00         -9.2        -15.4  ...          25.0   100.80  Clear
116     1/5/2012 20:00         -9.8        -15.7  ...          25.0   100.83  Clear
117     1/5/2012 21:00         -9.0        -14.8  ...          25.0   100.83  Clear
...                ...          ...          ...  ...           ...      ...    ...
8646   12/26/2012 6:00        -13.4        -14.8  ...          25.0   102.47  Clear
8698  12/28/2012 10:00         -6.1         -8.6  ...          24.1   101.27  Clear
8713   12/29/2012 1:00        -11.9        -13.6  ...          25.0   101.31  Clear
8714   12/29/2012 2:00        -11.8        -13.1  ...          25.0   101.33  Clear
8756  12/30/2012 20:00        -13.8        -16.5  ...          25.0   101.52  Clear

[1326 rows x 8 columns]

# Q3: encontre o número de vezes em que 'Wind speed (velocidade vento)' é igual a 4

In [22]:
df[df['velocidadeVento'] ==4]

              dataHora  temperatura  ...  pressao         clima
0        1/1/2012 0:00         -1.8  ...   101.24           Fog
1        1/1/2012 1:00         -1.8  ...   101.24           Fog
96       1/5/2012 0:00         -8.8  ...   100.32          Snow
101      1/5/2012 5:00         -7.0  ...   100.19          Snow
146      1/7/2012 2:00         -8.1  ...   100.15        Cloudy
...                ...          ...  ...      ...           ...
8768   12/31/2012 8:00         -8.6  ...   101.14  Snow Showers
8769   12/31/2012 9:00         -8.1  ...   101.09          Snow
8770  12/31/2012 10:00         -7.4  ...   101.05      Snow,Fog
8772  12/31/2012 12:00         -5.8  ...   100.78          Snow
8773  12/31/2012 13:00         -4.6  ...   100.63          Snow

[474 rows x 8 columns]

# Q4: qual a média da "visibilidade"?

*   IMPORTANTE: não devemos tomar decisões apenas com base na média. É importante considerar o desvio padrão dos dados. Dados com menor desvio padrão, podem representar menor chance de risco, visto que os valores oscilam menos entre si.

In [23]:
df['visibilidade'].mean()

27.66444672131151

# Q5: qual o desvio padrão da "humidadeRelativa" nesses dados?

*  IMPORTANTE: o desvio padrão é a raiz quadrada da variância. Na variância elevamos os valores ao quadrado (o que distorce a unidade amostral). Para que possamos comparar dados na unidade amostral inicial deve-se realizar o cálculo do desvio padrão.*

In [24]:
df['humidadeRelativa'].std()

16.918881470076556

# Q6: qual a variância da humidade relativa


*   Importante: lembre-se que a unidade final da variância é a únidade mensurada elevada ao quadrado. Logo, é intererssante calcular o desvio padrão(raiz quadrada da variância) para a realização das análises.

In [25]:
df['humidadeRelativa'].var()

286.2485501984998

# Q7: encontre todas as instâncias onde 'Snow' é registrado

In [26]:
#retorna apenas tuplas com o registro 'snow'
df[df['clima']== 'Snow']

              dataHora  temperatura  tempOrvalho  ...  visibilidade  pressao  clima
55       1/3/2012 7:00        -14.0        -19.5  ...          25.0   100.95   Snow
84      1/4/2012 12:00        -13.7        -21.7  ...          24.1   101.25   Snow
86      1/4/2012 14:00        -11.3        -19.0  ...          19.3   100.97   Snow
87      1/4/2012 15:00        -10.2        -16.3  ...           9.7   100.89   Snow
88      1/4/2012 16:00         -9.4        -15.5  ...          19.3   100.79   Snow
...                ...          ...          ...  ...           ...      ...    ...
8779  12/31/2012 19:00          0.1         -2.7  ...           9.7   100.13   Snow
8780  12/31/2012 20:00          0.2         -2.4  ...           9.7   100.03   Snow
8781  12/31/2012 21:00         -0.5         -1.5  ...           4.8    99.95   Snow
8782  12/31/2012 22:00         -0.2         -1.8  ...           9.7    99.91   Snow
8783  12/31/2012 23:00          0.0         -2.1  ...          11.3    99.89   Snow

[390 rows x 8 columns]

In [27]:
#No entanto, a coluna apresenta o registro snow combinado com outras palavras
df['clima'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Freezing Rain,Haze                            2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Ice Pellets,Fog                 1
Snow Pellets                                  1
Rain,Ice Pellets                              1
Freezing Rain,Snow Grains                     1
Thunderstorms,Rain,Fog                        1
Thunderstorms,Moderate Rain Showers,Fog       1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Rain,Snow Grains                              1
Rain Showers,Fog                              1
Thunderstorms,Heavy Rain Showers              1
Drizzle,Ice Pellets,Fog                       1
Name: clima, dtype: int64

In [28]:
#Logo, a busca adequada é:
df[df['clima'].str.contains('Snow')]

              dataHora  temperatura  ...  pressao         clima
41      1/2/2012 17:00         -2.1  ...    99.66  Snow Showers
44      1/2/2012 20:00         -5.6  ...   100.07  Snow Showers
45      1/2/2012 21:00         -5.8  ...   100.15  Snow Showers
47      1/2/2012 23:00         -7.4  ...   100.27  Snow Showers
48       1/3/2012 0:00         -9.0  ...   100.35  Snow Showers
...                ...          ...  ...      ...           ...
8779  12/31/2012 19:00          0.1  ...   100.13          Snow
8780  12/31/2012 20:00          0.2  ...   100.03          Snow
8781  12/31/2012 21:00         -0.5  ...    99.95          Snow
8782  12/31/2012 22:00         -0.2  ...    99.91          Snow
8783  12/31/2012 23:00          0.0  ...    99.89          Snow

[583 rows x 8 columns]

In [29]:
df['clima'].count()

8784

In [30]:
resultado = df[df['clima'].str.contains('Snow')]
resultado['clima'].value_counts()

Snow                          390
Snow Showers                   60
Snow,Fog                       37
Snow,Blowing Snow              19
Rain,Snow                      18
Drizzle,Snow,Fog               15
Freezing Drizzle,Snow          11
Snow,Ice Pellets                6
Snow,Haze                       5
Moderate Snow                   4
Rain,Snow,Ice Pellets           4
Snow Showers,Fog                4
Moderate Snow,Blowing Snow      2
Rain Showers,Snow Showers       2
Drizzle,Snow                    2
Rain,Snow Grains                1
Freezing Rain,Snow Grains       1
Snow Pellets                    1
Rain,Snow,Fog                   1
Name: clima, dtype: int64

# Q8: Renomeie as Tuplas da coluna clima

In [31]:
df['clima'] = df['clima'].map({'Snow':'Neve',
                             'Snow, Showers':'Neve, Pancadas de chuva',
                             'Snow,Fog':'Neve, Nevoeiro',
                             'Snow,Blowing Snow ':'Neve, Neve-sopro',
                             'Rain,Snow':'Chuva, Neve',
                             'Drizzle,Snow,Fog':'Chuvisco, neve, nevoeiro',
                             'Freezing Drizzle,Snow':'Chuvisco gelado, Neve',
                             'Snow,Ice Pellets':'Neve, Pelotas de Gelo',
                             'Snow, Fog':'Neve, Nevoeiro',
                             'Moderate Snow':'Neve Moderada',
                             'Snow showers, Fog':'Aguaceiros de neve, Neve',
                             'Rain, Snow, Ice pellets':'Chuva, Neve, Pelotas de gelo',
                             'Drizzle Snow':'Garoa de neve',
                             'Rain showers, snow showers':'Pancadas de chuva, Pancadas de neve',
                             'Moderate snow, blown snow':'Neve moderada, Neve-sopro',
                             'Rain, Snow, Fog':'Chuva, Neve, Nevoeiro',
                             'Rain, Snow Grains':'Chuva, Grãos de neve',
                             'Snow Pallets':'Pelotas de neve',
                             'Freezing Rain, Snow Grains':'Chuva congelante, Grãos de neve'})

In [32]:
df.columns

Index(['dataHora', 'temperatura', 'tempOrvalho', 'humidadeRelativa',
       'velocidadeVento', 'visibilidade', 'pressao', 'clima'],
      dtype='object')

# Q10: Encontre todas as tuplas em que "velocidadeVento" é maior que 24 e a "visibilidade" é igual a 25

In [33]:
df.columns

Index(['dataHora', 'temperatura', 'tempOrvalho', 'humidadeRelativa',
       'velocidadeVento', 'visibilidade', 'pressao', 'clima'],
      dtype='object')

In [34]:
df[(df['velocidadeVento']>24) & (df['visibilidade']==25)]

              dataHora  temperatura  tempOrvalho  ...  visibilidade  pressao  clima
23      1/1/2012 23:00          5.3          2.0  ...          25.0    99.31    NaN
24       1/2/2012 0:00          5.2          1.5  ...          25.0    99.26    NaN
25       1/2/2012 1:00          4.6          0.0  ...          25.0    99.26    NaN
26       1/2/2012 2:00          3.9         -0.9  ...          25.0    99.26    NaN
27       1/2/2012 3:00          3.7         -1.5  ...          25.0    99.30    NaN
...                ...          ...          ...  ...           ...      ...    ...
8705  12/28/2012 17:00         -8.6        -12.0  ...          25.0   101.34    NaN
8753  12/30/2012 17:00        -12.1        -15.8  ...          25.0   101.26    NaN
8755  12/30/2012 19:00        -13.4        -16.5  ...          25.0   101.47    NaN
8759  12/30/2012 23:00        -12.1        -15.1  ...          25.0   101.52    NaN
8760   12/31/2012 0:00        -11.1        -14.4  ...          25.0   101.51    NaN

[308 rows x 8 columns]

# Q11: Agrupando a coluna de "Clima", qual seria o resultado da média, valor mínimo e valor máximo para as demais colunas

In [35]:
dfMean= df.groupby('clima').mean()

In [36]:
dfMin= df.groupby('clima').min()

In [37]:
dfMax= df.groupby('clima').max()

# Q11: unir os Data Frames df_Mean, df_Max, df_Min. Ao término, exportar os Data Frames em um arquivo .csv

In [38]:
dfMean=dfMean.add_prefix('mean_')
dfMean.columns

Index(['mean_temperatura', 'mean_tempOrvalho', 'mean_humidadeRelativa',
       'mean_velocidadeVento', 'mean_visibilidade', 'mean_pressao'],
      dtype='object')

In [39]:
dfMin=dfMin.add_prefix('min_')
dfMin.columns

Index(['min_dataHora', 'min_temperatura', 'min_tempOrvalho',
       'min_humidadeRelativa', 'min_velocidadeVento', 'min_visibilidade',
       'min_pressao'],
      dtype='object')

In [40]:
dfMax=dfMax.add_prefix('max_')
dfMax.columns

Index(['max_dataHora', 'max_temperatura', 'max_tempOrvalho',
       'max_humidadeRelativa', 'max_velocidadeVento', 'max_visibilidade',
       'max_pressao'],
      dtype='object')

                          mean_temperatura  ...  mean_pressao
clima                                       ...
Chuva, Neve                       1.055556  ...     99.951111
Chuvisco gelado, Neve            -5.109091  ...    100.520909
Chuvisco, neve, nevoeiro          0.693333  ...     99.281333
Neve                             -4.524103  ...    100.536103
Neve Moderada                    -5.525000  ...    100.275000

[5 rows x 6 columns]

In [53]:
mergeDf = pd.merge(pd.merge(dfMean, dfMin, how = 'inner', on = 'clima'),dfMax,on = 'clima')

In [56]:
mergeDf

                          mean_temperatura  ...  max_pressao
clima                                       ...
Chuva, Neve                       1.055556  ...       101.07
Chuvisco gelado, Neve            -5.109091  ...       101.18
Chuvisco, neve, nevoeiro          0.693333  ...       100.15
Neve                             -4.524103  ...       102.73
Neve Moderada                    -5.525000  ...       100.67
Neve, Nevoeiro                   -5.075676  ...       102.07
Neve, Pelotas de Gelo            -1.883333  ...       100.96

[7 rows x 20 columns]

In [57]:
mergeDf.to_csv('out.csv')

# Q12: Selecione todos os registros onde o clima = 'Fog' (nublado)

In [41]:
df[df['clima']=='Fog']

Empty DataFrame
Columns: [dataHora, temperatura, tempOrvalho, humidadeRelativa, velocidadeVento, visibilidade, pressao, clima]
Index: []

# Q13: Encontre todas as tuplas onde o Clima é 'Clear' ou visibilidade é acima de 40

In [42]:
df[(df['clima'] == 'Clear') | (df['visibilidade']>40)]

              dataHora  temperatura  tempOrvalho  ...  visibilidade  pressao  clima
106     1/5/2012 10:00         -6.0        -10.0  ...          48.3   100.45    NaN
107     1/5/2012 11:00         -5.6        -10.2  ...          48.3   100.41    NaN
108     1/5/2012 12:00         -4.7         -9.6  ...          48.3   100.38    NaN
109     1/5/2012 13:00         -4.4         -9.7  ...          48.3   100.40    NaN
110     1/5/2012 14:00         -5.1        -10.7  ...          48.3   100.46    NaN
...                ...          ...          ...  ...           ...      ...    ...
8748  12/30/2012 12:00        -12.2        -15.7  ...          48.3   100.91    NaN
8749  12/30/2012 13:00        -12.4        -16.2  ...          48.3   100.92    NaN
8750  12/30/2012 14:00        -11.8        -16.1  ...          48.3   100.96    NaN
8751  12/30/2012 15:00        -11.3        -15.6  ...          48.3   101.05    NaN
8752  12/30/2012 16:00        -11.4        -15.5  ...          48.3   101.15    NaN

[2014 rows x 8 columns]

# Q14: Encontre todas as tuplas onde o Clima é 'Clear' e a 'humidadeRelativa' é maior do que 50

In [43]:
df[(df['clima']=='Clear') & (df['humidadeRelativa']>50)]

Empty DataFrame
Columns: [dataHora, temperatura, tempOrvalho, humidadeRelativa, velocidadeVento, visibilidade, pressao, clima]
Index: []

# Q15: encontre todas as tuplas em que 'Clima' é Clear e 'humidade' é maior que 50 ou 'visibilidade' é acima de 40

In [44]:
df[(df['clima']=='Clear') & (df['humidadeRelativa']>50)|(df['visibilidade']>40)]

              dataHora  temperatura  tempOrvalho  ...  visibilidade  pressao  clima
106     1/5/2012 10:00         -6.0        -10.0  ...          48.3   100.45    NaN
107     1/5/2012 11:00         -5.6        -10.2  ...          48.3   100.41    NaN
108     1/5/2012 12:00         -4.7         -9.6  ...          48.3   100.38    NaN
109     1/5/2012 13:00         -4.4         -9.7  ...          48.3   100.40    NaN
110     1/5/2012 14:00         -5.1        -10.7  ...          48.3   100.46    NaN
...                ...          ...          ...  ...           ...      ...    ...
8748  12/30/2012 12:00        -12.2        -15.7  ...          48.3   100.91    NaN
8749  12/30/2012 13:00        -12.4        -16.2  ...          48.3   100.92    NaN
8750  12/30/2012 14:00        -11.8        -16.1  ...          48.3   100.96    NaN
8751  12/30/2012 15:00        -11.3        -15.6  ...          48.3   101.05    NaN
8752  12/30/2012 16:00        -11.4        -15.5  ...          48.3   101.15    NaN

[2014 rows x 8 columns]